<!DOCTYPE html>
<html ng-app='web'>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" type="text/css" href="/assets/menus.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.js"></script>
	<%= csrf_meta_tags %>
</head>
<style type="text/css">
html, body {
	height: 100%
}
</style>
<body ng-controller="maincontroller" id = 'menubody'>
	<!--fixed items-->

	<div id='navi'>
		<div id='navicover'>
			<img id = 'logocopy' src="/assets/logo_copy.png">
			<table id='navitable'>
				<tr>
					<td><button  ng-click="name.test(1)"  ng-class='name.buttonclass[0]'>Today's Menu</button></td>
				</tr>
				<tr >
					<td><button  ng-click="name.test(2)"  ng-class='name.buttonclass[1]'>My Wallet</button></td>
				</tr>
				<tr>

					<td>
						<button ng-click="name.test(3)"   ng-class='name.buttonclass[2]'>Settings</button>
					</td>
				</tr>
				<tr>
					<td><button class='navibutton' >Log Out</button></td>
				</tr>
			</table>
			 <script>

			// function classchange(obj) {
			// 	var a = document.getElementsByClassName('navibuttonc');
			// 	a[0].className = 'navibutton';
			// 	obj.className = 'navibuttonc';
			// }<button ng-click="name.test(4)"   ng-class='name.buttonclass[3]'>Log Out</button>
			// <%=button_to 'Log Out', root_path, method: :get,:class => 'navibutton' ,data: {confirm: "Are You Sure To Leave Feedex"}%>
			 </script>
		</div>
	</div>

	<div id= 'back'>	
		
		<!-- <button ng-click="name.show = !name.show" onclick="move()">Button</button> -->

	</div>
	<div class='contenttitle'>
		<p>{{name.pagetitle}}</p>
		<div id='cartimg'>
			{{name.foodselect.length}}
			<img src="/assets/cart.png" alt="Hello world">
		</div>
	</div>
	<div class='contentfoot'>

		<div id = 'footcover'>
		
	<P>{{name.pagefoot}}</P>
	<!-- <p ng-if='name.price == 0'> Please Choose Your Food</p> -->
			<button ng-click="name.footchange()" ng-if='name.price != 0 || name.divshow != 1'><P ng-if='0'>{{name.pagefoot}}</P><p ng-if='0'> </p></button> 
	<!-- there is bug here, so i put stuff on the button, pls do not delete -->
		</div>
		<div id='footpprice' ng-if='name.divshow==1 && name.step != 4 && name.price != 0'>
			<p>${{name.price}}</p>
			
		</div>
	</div>

	<div  class='div1' ng-if='name.divshow == 1'>	
		<div class='div2' ng-if = 'name.step ==1'>
			<div id = 'side' >
				<button id='sideleft'  ng-click='name.sidecheckfun(1)'>SIDELEFT</button>
				<img ng-class= 'name.sideclass' ng-click="name.sure(0)" id="side" ng-if='name.sideimgshow' ng-src={{name.side[name.sidenow]['original_url']}}>
				<img ng-class= 'name.sideclass' id='side' ng-click="name.sure(0)" ng-if='!name.sideimgshow' ng-src={{name.side[name.sidenow]['original_url']}}>
				<button id='sideright' ng-click='name.sidecheckfun(0)' >SIDERIGHT</button>
			</div>
			<div id = 'main' >
				<button id="mainleft"  ng-click='name.maincheckfun(1)'>MAINLEFT</button>
				<img ng-class= 'name.mainclass' ng-click="name.sure(1)" id="main" ng-if='name.mainimgshow' ng-src={{name.main[name.mainnow]['original_url']}}>
				<img ng-class= 'name.mainclass' id="main" ng-click="name.sure(1)" ng-if='!name.mainimgshow' ng-src={{name.main[name.mainnow]['original_url']}}>
				<button id ='mainright' ng-click='name.maincheckfun(0)'>MAINRIGHT</button>
			</div>
			<script>
			// function sure(obj) {
			// 	console.log("in")
			// 	if(obj==0){
			// 		var a= document.getElementById('side');
			// 		var b= document.getElementById('sideleft');
			// 		var c= document.getElementById('sideright');
			// 	}
			// 	else {
			// 		var a= document.getElementById('main');
			// 		var b= document.getElementById('mainleft');
			// 		var c= document.getElementById('mainright');
			// 	}
			// 	a.style.boxshadow="3px 3px 3px #7C7C7C";
			// 	b.style.visibility = b.style.visibility =='hidden' ? 'visible' :'hidden';
			// 	c.style.visibility = c.style.visibility =='hidden' ? 'visible' :'hidden';

			// }
			</script>
		</div>
		<div class = 'div2' ng-if = 'name.step ==2'>
			<table class='cartlist' ng-repeat='food in name.foodselect track by $index | orderBy : name '>
				<tr>
					<td class='cartindex' rowspan='2'>{{$index}}</td>
					<td>{{food.name}}</td>
					<td class='cartnum' rowspan ='2'> <img src="/assets/delete.png"></td>
				</tr>
				<tr>
					<td>{{food.vendor_id}}</td>
				</tr>
			</table>
		</div>
		<div class = 'div2' ng-if = 'name.step ==3' id='paymentmode'>
			<p>In a limited period, you can complete your purchase by making a cash payment directly at FeedexHQ. </p>
			<p>Please select your mode of payment</p>
			<form action=''>
				<input type='radio' ng-model='name.pay' value="Cash">Cash<br>
				<input type='radio' ng-model='name.pay' value="Credit">Credit<br>
			</form>
		</div>
		<div class = 'div2' ng-if = 'name.step ==4'>
			<table>
				<tr ng-repeat='food in name.foodselect'><td>{{food.name}}4444444</td></tr>
			</table>
		</div>
	</div>
	<div  class='div1' ng-if='name.divshow == 2'>
		<div id='remaining'>
			<div id='remainword'>
				<p id='remainvalue'>REMAINING VALUE</p>
				<P id='remaindollar'>$ 120.00</p>
				</div>
			</div>
			<div id='topup'>
				<div id='topuppanel'>
					<p id='topupword'>TOP-UP AMOUNT</p>
					<input id='topupbtn' placeholder="$10 MINIMUM">
				</div>

			</div>

		</div>
		<div  class='div1' ng-if='name.divshow == 3'>
			<div id='settingpanel'>
				<table id='settingtable' style='background-color:rgba(0,0,0,0.6);'>
					<tr><td style="color:grey;">EMAIL ADDRESS</td></tr>
					<tr><td><input placeholder='someone@somewhere.com' style='width:60%;font-size: 2em;'></td></tr>
					<tr><td style='color:orange'>Change the e-mail address you use to login will also change the e-mail address that we use to contact you.</td></tr>
					<tr><td style="color:grey;">PASSWORD</td></tr>
					<tr><td><input type='password' style='width:60%;'></td></tr>
					<tr><td style="color:grey;">PHONE NUMBER</td></tr>
					<tr><td><input type='tel' style='width:60%;font-size: 2em;'></td></tr>
				</table>
			</div>
		</div>
		<div class='div1' ng-if='name.divshow == 4'>
			LOGOUT ?
			<button>YES</button>
		</div>

	</body>
	</html>