@charset "UTF-8";
/* CSS Document */


/*--------------- MAIN BODY ---------------*/


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #000000; 
  background-color:#FFFFFF;
   background:url('/assets/background2.jpg');
  background-repeat:no-repeat;
    background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height:100%;
  width:100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul li{
  list-style: none;
}

ul li a{
  text-decoration:none;
  color:#FFF;
}

/*--------------- CONTAINER HEADER---------------*/


#container {
    position:relative;
    margin: 0 auto;
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-size:1.0em;
}

#bt-menu ul li a span{
display:inline-block;
vertical-align: top;
}

#fdxlogo{
    padding-left:30px;
}

#fdxlogo2{
    margin-top:80px;
    width:90%;
    max-width:250px;
}

/*#carousel1, #carousel2{
height:630px;
}*/

#carousel1wrapper, #carousel2wrapper{
  width:100%;
  height:auto;
  clear:both;
  display:block;
  max-width:1600px;

}

#carousel1, #carousel2{
width:100%;
height:auto;
}

img#plusicon{

  margin:0 auto;
  position:absolute;
  z-index:60;
    display:block;
  right:0;
  left:0;
  margin-top:-42px;
  margin-left:60%;
  width:6%;
}


#header {
    height:70px;
    width:100%;
    margin:0 auto;
    text-align:center;
      /*margin-top:30px;*/
      vertical-align: middle;
}

#cartbutton{
  float:right;
       margin-top:-44px;
      color:#FFFFFF;
    font-size:2.3em;
}

#cartbutton img {
 padding-right:0px;
 width:38%;

}

#header h1{
    color:#FFFFFF;
    font-size:2.3em;
    padding-top:12px;
}

/*.addvaluebtn2{
  position: relative;
color:#FFF;
-webkit-appearance: none;
    border-radius: 0;
    border:none;
    font-size:1.5em;
    margin-top: 46%;
    z-index:10000;
}*/

#navshow {
display:block;
width:25%;
float:left;
 height:100%;
 position:absolute;
height:100%;
}

#navshowbg{
  display:block;
width:25%;
float:left;
 height:100%;
 position:absolute;
 background-color: #000;
height:100%;
opacity:0.6;
}

#maincontent {

  width:75%;
  float:right;

}

#mainmenu{
  background-color:white;
  /*margin-top:-10px;*/

}

#navshow ul{
  margin:0 auto;
}

#navshow ul li{
  font-size:2.4em; /*none*/
  padding:30px 0px;

}


#navshow ul:first-of-type li a:hover,
#navshow  ul:first-of-type li a:focus,
#navshow ul li a:hover:before,
#navshow  ul li a:focus:before{
  color: #ff7109;
}

#footer{
  height:108px;
  width:100%;
}

#addtocartbg{
  opacity:0.8;
  background-color:#000;
  height:108px;
  width:60%;
  float:left;
   z-index:40;
}

#addtocart{
  height:108px;
  width:45%;
  float:left;
  z-index:50;
  position:absolute;
}

#addprice{
  height:108px;
  width:40%;
  float:right;
}

#footer h1{
  color:#FFFFFF;
  font-size:2.4em;
  vertical-align:middle;
 padding-top:18px;
  text-align:center;
}

.addvaluebtn2{
  color:#FFFFFF;
  font-size:2.4em;
  vertical-align:middle;
 padding-top:35px;
width:100%;  
height:auto;
text-align:center;
  border:none;
  z-index:10000;
  -webkit-appearance: none;
    border-radius: 0;
}

#cartbutton a{
  text-decoration:none;
  color:#FFF;
}


#bt-menu ul{
  display:none;
}


#btfirstli {
  margin-top:150px;
}

img.menuimg{
  vertical-align:middle;
}

ul#navshowul li a span{
  vertical-align:middle;
  margin-left:0px;
}

ul#navshowul li {
  margin-left:-10px;
}



/*------------SUMMARY/CHECKOUT-------------*/

#summarybg{
  display:block;
width:100%;
float:right;
 height:786px;
 position:absolute;
 background-color: #000;
opacity:0.3;
  margin-top:-10px;

}


#summarycontent {
  font-size:2.3em;
  color:#FFFFFF;
  margin-top:-10px;
  position:relative;
  height:756px;
  overflow-y:scroll;

}

ul.summarylist {
  color:#ffe775;
  margin-left:-40px;
}

ul.summarylist li{
  padding:25px 30px 10px 30px;
}

ul.orderitems {
  color:#fff5c4;
  margin-top:-60px;
  padding-left:70px;
}


ul.orderitems li{
  padding:0;
  padding:5px;

}

hr{
  border: 0;
    border-bottom: 1px solid rgba(255,245,196,0.2);
}

img.summarydlt {
  float:right;
  margin-top: -38px;
}

.summaryatcbg{
  opacity:0.8;
  background-color:#000;
  height:160px;
  width:100% !important;
  float:left;
   z-index:40;
}

.summaryatc{
  height:160px;
  width:70% !important;
  float:left;
  z-index:50;
  position:absolute;
}

.checkoutprice{
  background-color:black;
  opacity:0.8;
  border-left:1px solid rgba(255,245,196,0.3);
}

.checkoutprice h1{
  color:#fff5c4 !important;

}

.summaryprice {
  color:#FFF;
  position:absolute;
  right:15%;
  margin-top:-42px;
}

/*------------CONFIRMATION-------------*/


#confirmbg{
  display:block;
width:100%;
float:right;
 height:764px;
 position:absolute;
 background-color: #000;
opacity:0.3;
  margin-top:-10px;

}


#confirmcontent {
  font-size:2.3em;
  color:#FFFFFF;
  margin-top:-10px;
  position:relative;
  height:724px;
  width:80%;
  margin:0 auto;
}

#confirmcontent img {
  display:block;
  margin:0 auto;
  margin-top:30px;
  width:100%;
  max-width:550px;
}

#confirmcontent p{
  padding:60px 0px;
  text-align:center;
}

/*------------WALLET-------------*/


#walletbg{
  display:block;
width:100%;
float:right;
 height:300px;
 position:absolute;
 background-color: #000;
opacity:0.3;
  margin-top:-10px;

}


#walletcontent {
  font-size:2.3em;
  color:#FFFFFF;
  margin-top:-10px;
  position:relative;
  height:706px;
  width:80%;
  margin:0 auto;
  text-align:center;
}

.walletvalue h3, .wallettopup h3 {
  color:#ffc76e;
  font-size:1.0em;
  margin-top:40px;
}

.walletvalue p {
  color:#FFFFFF;
  font-size:4em;
  padding:0; 
  margin:0;
}

.wallettopup {
  margin-top:180px;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"] {
  background-color:#f5f5f5;
  border:none;
  width:420px;
  height:80px;
  font-size:1.2em;
  margin-bottom:15px;
  color:#ee470d;
  -webkit-appearance: none;
  text-align:center;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   #d7d7d7;
    text-align:center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d7d7d7;
        text-align:center;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d7d7d7;
        text-align:center;

}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #d7d7d7;
        text-align:center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



/*------------SETTINGS-------------*/

#settingform {
padding-top:40px;
}


#settingsbg{
  display:block;
width:100%;
float:right;
 height:786px;
 position:absolute;
 background-color: #000;
opacity:1.0;
  margin-top:-10px;

}


#settingscontent {
  font-size:2.3em;
  color:#FFFFFF;
  margin-top:-10px;
  position:relative;
  height:746px;
  width:80%;
  margin:0 auto;
  text-align:center;
}

label {
  color:#6d6d72;
}
p.disclaimer {
  color:#ee470d;
  font-size:0.8em;
  width:60%;
  margin:0 auto;
}



/*------------CASH CREDIT-------------*/

#cashcreditform {
  text-align:left;
  width:20%;
  margin:0 auto;
  margin-top:100px;
}


#cashcreditbg{
  display:block;
width:100%;
float:right;
 height:786px;
 position:absolute;
 background-color: #000;
opacity:0.3;
  margin-top:-10px;

}

#cashcreditcontent {
  font-size:2.3em;
  color:#FFFFFF;
  margin-top:-10px;
  padding-top:40px;
  position:relative;
  height:746px;
  width:90%;
  margin:0 auto;
  text-align:center;
}


.whitelabels {
  color:#FFFFFF !important;
}


input[type="radio"].css-checkbox {
              display:none;
            }

            input[type="radio"].css-checkbox + label.css-label {
              padding-left:47px;
              height:42px; 
              display:inline-block;
              line-height:42px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:1em;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type="radio"].css-checkbox:checked + label.css-label {
              background-position: 0 -42px;
            }
            label.css-label {
        background-image:url('/assets/radio.png');
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }





/*-------------------WEB_MENU------------------*/

ul#3columns{
  width:100%;
}

ul#3columns li{
  display:inline-block;
  width:30%;
}

#mainbodywebbg{
  display:block;
width:100%;
 height:100%;
 background-color: #000;
opacity:0.5;
}















@media handheld and (max-width: 1100px),
       screen and (max-device-width: 1100px),
       screen and (max-width:1100px) {


/*#navshow ul li a img{
  display:block;
  margin:0 auto;
}*/

#maincontent{
  width:70%;
}

#navshow, #navshowbg{
  width:30%;
}

/*#navshow ul {
  margin-left:-50px;
  margin-top:-30px;

}*/

/*#navshow ul li a span{
  display:block;
}*/




img#plusicon{
  margin-left:65%;
  margin-top:-50px;
}









}



@media handheld and (max-width: 1100px),
       screen and (max-device-width: 1100px),
       screen and (max-width: 1100px) {


img#plusicon{
  margin-left:63%;
  margin-top:-26px;
}

input {
  width:500px;
}


p.disclaimer {
  width:90%;
}

#settingscontent {
  width:100%;
}
#cashcreditform {
  width:40%;
}
#navshowul{
  margin-left:-20px;
}

#navshow ul li{
  font-size:1.8em; /*none*/
  padding:20px 0px;
}

#navshow ul{
  margin:0 auto;
}

#navshow ul li {
  padding:30px 0px;
}

#navshow {
width:32%;
}

#navshowbg{
width:32%;
}

#maincontent {
  width:68%;
}





}      

@media handheld and (max-width: 768x),
       screen and (max-device-width: 768px),
       screen and (max-width: 768px) {

}




@media handheld and (max-width: 767px),
       screen and (max-device-width: 767px),
       screen and (max-width: 767px) {

#bt-menu ul{
  display:block;
  width:10px;
}

#navshow ul{
  margin:0 auto;
  margin-left:-30px !important;
}


#navshow, #navshowbg {
display:none;

}

#maincontent {

  width:100%;
  float:left;

}

.swiper-container {
  width: 100%;
}

#footer h1{
  font-size:2.3em;
  

}

#addtocart{
  width:60%;
}


img#plusicon{
  margin-left:46%;
  margin-top:-27px;
}


#cartbutton img {


}

#header h1{
  font-size:2.3em;
}

#cartbutton{
  float:right;
       margin-top:-45px;
    font-size:2.3em;
}

#mainmenu {
  margin-top:0px;
}

.summaryatc {
  width:95% !important;
}

.confirmatc {
  width:100% !important;
}


#walletcontent {
  width:100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {

  width:400px;
}

.walletvalue p {
  font-size:3.6em;
}

#cashcreditform {
  width:60%;
}

#footer, #addtocartbg, #addtocart, #addprice{
  height:80px;
}

.bt-menu-trigger {
  top:5px;
}






       }



       @media handheld and (max-width: 400px),
       screen and (max-device-width: 400px),
       screen and (max-width: 400px) {

img#plusicon{
  margin-left:46%;
  margin-top:-14px;
}
#container{
  font-size:0.8em;
}

#footer h1{
  font-size:2.3em;
}

input {
  width:300px;
}

.walletvalue p {
  font-size:2.8em;
}

.walletvalue h3, .wallettopup h3 {
  font-size:0.7em;
  margin-top:100px;
}



.bt-menu{
  position:absolute;
}

.bt-menu-trigger {
  position:absolute;
  width:30px;
  height:40px;
  top:6px;
}

#cartbutton img{
  width:30%;
  padding-right:0px;
}

#cartbutton {
  margin-top:-35px;
}



img#plusicon{
  margin-top:-12px;
  margin-left:47%;
}

.swipeButton.prev{
  left:1%;
  top:35%;
  background-size:70%;
}
.swipeButton.next{
  right:1%;
  top:35%;
  background-size:70%;
}

#header {
  height:40px;
}

#header h1{
  padding-top:4px;
}

#footer, #addtocartbg, #addtocart, #addprice{
  height:60px;
}

#footer h1{
  font-size:2.1em;
  padding-top:8px;
}

.bt-menu.bt-menu-open {
  border-width: 0px 0px 0px 250px; /*0 0 50 150*/

}

#fdxlogo {
  width:70%;
  padding-left:50px;
  margin-top:-50px;
}

#bt-menu ul li a span {
  font-size:0.8em;
}

#btfirstli {
  margin-top:10px;
}
.bt-menu ul li{
  padding:30px 0px;
}

#summarycontent {
  font-size:2em;
}

ul.orderitems {
  padding-left:50px;
  margin-top:-50px;
}

#summarybg {
  height:680px;
}

#summarycontent{
  height:650px;
}

#cashcreditcontent {
  font-size:1.6em;
  padding-top:20px;
  width:95%;
  height:354px;
}

#cashcreditform{
  margin-top:50px;
  width:45%;
}

#cashcreditbg{
  height:394px;
  margin-top:0px;

}

#confirmcontent {
  font-size:1.6em;
    width:95%;
    height:340px;
}

#confirmbg{
  height:354px;
      margin-top:0px;

}

#confirmcontent p{
  padding:20px 0px;
}

#confirmcontent img{
  margin-top:0px;
  width:70%;
}

#walletbg {
  height:160px;
  margin-top:0px;
}

#walletcontent {
  height:318px;
  font-size:2.3em;
}

.walletvalue h3, .wallettopup h3 {
  margin-top:30px;
}

.wallettopup {
  margin-top:80px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  width:250px;
  height:50px;
  font-size:1em;
}

#settingscontent {
  font-size:1.8em;
  height:480px;
}

#settingform {
  padding-top:30px;
}

#settingsbg {
  height:520px;
  margin-top:0px;
}

.summaryatc {
  width:100% !important;
}

#summarybg{
  margin-top:0px;
  height:456px;
}

#summarycontent {
  height:426px;
}
img.summarydlt{
  margin-top:-40px;
}
ul.orderitems{
  margin-top:-40px;
}

img.summarydlt {
  margin-right:-20px;
}


       }













