<div id="newitem">

<%= link_to "< Back", admin_items_path, :class => "backbutton" %>

<h1>Add New</h1> <hr />

<div id="newitembox">

<%= form_for [:admin, @item], :html => {:id => 'newitemform'}, multipart: true do |f| %>
	<%= render :partial => "form", locals: { item: @item, f: f } %>
	<div>
		<%= f.submit "Add New", :class => "submitnewitem" %>
	</div>
<% end %>

</div><!--end of newitembox-->

</div><!--end of newitem-->	


<!--

<div id="newitem">
	
	<a class="backbutton" href="allitems.html">< Back</a>

	<h1>Add New Item</h1><hr />
	
	<div id="newitembox">
	
	<form id="newitemform" action="#" method="#">

		<label for="itemname">Item Name</label><br>
		<input type="text" id="itemname" /> <br><br>
	
		<label for="itemprice">Price in dollars</label><br>
		<input type="text" id="itemprice" /> <br><br>
		
		<label for="itemdesc">Description</label><br>
		<input type="text" id="itemdesc" /> <br><br>
	
		<label for="itemsku">SKU</label><br>
		<input type="text" id="itemsku" /> <br><br>
		
		<label for="itemcategory">Category</label><br>
		<select id="itemcategory">
			<option>Main</option>
			<option>Side</option>
		</select>	<br><br>
		
		<label for="itemimg">Image</label><br>
		<input type="file" id="itemimg" /><br><br><br><br>
	
		<input type="submit" value="Submit" class="submitnewitem"/>

	</form>
	
	</div><!--end of newitembox-->

<!--
</div><!--end of newitem-->	