/*background */
/*background 1, content 2, logo 10, navi 9, content 1-2 button 3 item-selected 4*/

#back {
  position: fixed;
  left: 300px;
  top:0px;
  height: 100%;
  width: 100%;
  background: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  z-index: 1;
  box-shadow: -10px 10px 5px black;
}

#logocopy {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 20px;
  width:  250px;
}

#menubody {
  width: 100%;
  height: 100%;
  bottom: 0px;
}
/*background end*/

/*#content:hover{
  top: -100px;
}*/
/*navigator*/
#navi {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  /*font-size: 5pt;*/
  color: white;
  background-color: rgba(0,0,0, 0.4);
  background: url("/assets/background.jpg") rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
  z-index: 9;
}

#navitable {
  position: absolute;
  top: 200px;
  left: 50px;
}
#navicover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
 #navitable tr{
  height: 80px;
}

.navibutton {
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: 0px;
  font-size: 10pt;
}
.navibuttonc {
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: orange;
  border: 0px;
  font-size: 10pt;
}
/*navigator end

/*content*/
/*#content1 {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 2;
}
#content2 {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;

}
#content3 {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
}
#content4 {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
}*/
.contenttitle {
  position: fixed;
  top: 0px;
  left: 300px;
  /*width: 100%;*/
  right: 0px;
  height: 80px;
  z-index: 5;
  background: url("/assets/background.jpg");
  color: orange;
  text-align: center;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center top;*/
  /*background-attachment: fixed;*/
}
.contenttitle p {
  position: relative;
  top: 30%;
  font-size: 2em;
  display: inline;
}
#cartimg {
  position: relative;
  right: 20px;
  top: 5px;
  float: right;
  font-size: 2em;
}
#cartimg img {
  position: relative;
  top: 10px;
}
.contentfoot{
  position: fixed;
  bottom: 0px;
  left: 300px;
  right: 0px;
  height: 80px;
  z-index: 3;
  background: url("/assets/background.jpg");
}
.contentfoot button {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  border: 0px;
  z-index: 5;
  color: transparent;
}
.contentfoot button:hover {
  /*background-color: red;*/
  border:3px solid #3b5998;
}
.contentfoot button:focus {
  outline: groove;
}
#footcover {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: orange;

}
#footpprice {
  position: absolute;
  right: 0px;
  top: 0%;
  width: 264px;
  height: 100%;
  background-color: orange;
  color: white;
}
#footcover p {
  position: relative;
  top: 30%;
  font-size: 2em;
  display: inline;
  text-align: center;
  left: 40%;
}
#footpprice  p {
  position: relative;
  text-align: center;
  top: 25px;
  font-size: 2.5em;
}





.div1 {
  position: absolute;
  top: 100px;
  left: 300px;
  right: 0px;
  /*height: 100%;*/
  z-index: 2;
  bottom: 80px;
/*  height: 100%;
*/  /*width: 100%;*/
}
.div2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /*height: 100%;*/
  /*right: 0px;*/
  z-index: 2;
  /*bottom: 80px;*/
/*  height: 100%;
*/  /*width: 100%;*/
}
.div1.ng-enter, .div1.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}
.div1.ng-enter{
  opacity: 0;
  top: 900px;
  z-index: 2;
  /*left:-500px;*/
  /*clip: rect(0px, 600px, 400px, 600px);*/

}
.div1.ng-enter.ng-enter-active {
  opacity:1;
  top: 100px;
    
}

.div1.ng-leave.ng-leave-active {
  opacity:0;
  top: -700px;
}

.div1.ng-leave{
  opacity: 1;
  top: 100px;
}

.div2.ng-enter, .div2.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}
.div2.ng-enter{
  opacity: 0;
  /*top: 900px;*/
  z-index: 2;
  left: 900px;
  /*clip: rect(0px, 600px, 400px, 600px);*/

}
.div2.ng-enter.ng-enter-active {
  opacity:1;
  /*top: 100px;*/
  left: 0px;
    
}

.div2.ng-leave.ng-leave-active {
  opacity:0;
  /*top: -700px;*/
  left: -900px;
}

.div2.ng-leave{
  opacity: 1;
  left: 0px;
  /*top: 100px;*/
}

/*/content*/
/*slider animation*/

#main {
  top: 380px;
}
#side {
  top: -20px;
}

.img1 {
  position: absolute;
  left: 0px;
  width: 600px;
  height: 400px;
  clip: rect(0px,600px,400px, 0px);
}

.img2 {
  position: absolute;
  left: 0px;
  width: 600px;
  height: 400px;
  clip: rect(0px,600px,400px, 0px);
}
.img3 {
  position: absolute;
  /*left: 10px;*/
  width: 600px;
  height: 400px;
  clip: rect(0px,600px,400px, 0px);
  z-index: 4;
}
.img1.ng-enter, .img1.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.img1.ng-enter{
  opacity: 1;
  left:-600px;
  clip: rect(0px, 600px, 400px, 600px);

}
.img1.ng-enter.ng-enter-active {
  opacity:1;
  left: 0px;
  clip: rect(0px,600px,400px,0px);
    
}

.img1.ng-leave.ng-leave-active {
  opacity:1;
  left: 600px;
  clip: rect(0px,0px,400px,0px);  
}

.img1.ng-leave{
  opacity: 1;
  left: 0px;
}

.img2.ng-enter, .img2.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.img2.ng-enter{
  opacity: 1;
  
  left: 600px;
  clip: rect(0px,0px,400px,0px);  

}
.img2.ng-enter.ng-enter-active {
  opacity:1;
  left: 0px;
  clip: rect(0px,600px,400px,0px);
    
}

.img2.ng-leave.ng-leave-active {
  opacity:1;
  left:-600px;
  clip: rect(0px, 600px, 400px, 600px);
  
}

.img2.ng-leave{
  opacity: 1;
  left: 0px;
}

#mainleft{
  position: absolute;
  top: 500px;
  left: 0px;
  z-index: 3;
}
#mainright{
  position: absolute;
  top: 500px;
  left: 535px;
   z-index: 3;
}
#sideleft{
  position: absolute;
  top: 100px;
  left: 0px;
   z-index: 3;
}
#sideright{
    position: absolute;
  top: 100px;
  left: 538px;
   z-index: 3;
}
/*slider animation*/

/*the list*/
.cartlist {
  color: orange;
  position: relative;
  top: -20px;
  left: 0px;
  margin-top: 0px;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  /*border: 3px, thick, black;*/
  /*text-align: left;*/
}
.cartlist td {
  text-align: left;

}
.cartindex {
  width: 25%;
}
.cartnum {
  width: 25%;
}




/*the my wallet page*/
#remaining {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
  height: 40%;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
}
#remainword {
  position: absolute;
  top: 30%;
  left: 40%;
  right: 40%;
  margin: 0 auto;
}
#remainvalue {
  color: orange;
  font-size: 2em;
  position: relative;
  /*left: 40%;*/
  top: 30%;
}
#remaindollar {
  color: white;
  position: relative;
  font-size: 4em;
  left: 10%;
  /*left: 40%;*/
  /*top: */
}
#topup {
  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  /*height: 100%;*/
  bottom: 0px;
  z-index: 2;
}
#topuppanel {
  position: absolute;
  top: 30%;
  left: 40%;
  right: 40%;
  height: 30%;
}
#topupword {
  color: orange;
  font-size: 2.3em;
}
#topupbtn {
  position: relative;
  left: -10%;
  top: 10%;
  width: 100%;
  height: 40px;
}

#settingpanel{
  position: absolute;
  top: 0px;
  bottom: 0%;
  left: 0px;
  right: 0px;

}
#settingtable {
  position: absolute;
  left: 30%;
  right: 0px;
  top: 0px;
  /*bottom: 0px;*/
  /*border: black, 3px, solid;*/
}
#settingtable tr {
  text-align: left;
}
#settingtable td {
  width:50%;
  text-align: left;
}




/*media query & responsive html */
@media screen and (max-width:  960px) {
  .div1 {

  }
  #footpprice {

  width: 40%;
}

}

@media screen and (max-width: 758px) {

}

@media screen and (max-width: 524px) {

}

@media screen and (max-height: 667px) {
  #topupbtn {
    height: 50%;
  }
}