<%= link_to "< Back", admin_delivery_locations_path %>

<h1>Add New</h1>
<%= form_for [:admin, @delivery_location], multipart: true do |f| %>
	<%= render :partial => "form", locals: { delivery_location: @delivery_location, f: f } %>
	<div>
		<%= f.submit "Add New" %>
	</div>
<% end %>
