<div id="edititem">


<%= link_to "< Back", admin_colonies_path, :class => "backbutton" %>

<h1>Edit Colony Details</h1><hr />
	
	<div id="newitembox">

<%= form_for [:admin, @colony], multipart: true do |f| %>
	<%= render :partial => "form", locals: { colony: @colony, f: f } %>
	<div>
		<%= f.submit "Update", :class =>"submitedititem" %>
	</div>
<% end %>

</div><!--end of newitembox-->


</div><!--end of edititem-->	
